.t-0{
	top: 0px
}

.site_title i{
	border: none !important;
}

.img-circle.profile_img{
	width: 75% !important;
	border: none !important;
    background: #24374a !important;
}

.right_col{
	padding-top: 65px !important;
}

.alert{
	margin-bottom: 10px;
}


div#modal-emergent{
    margin: 0 auto;
    padding: 0px !important;
    top: 15%;
    width: 95%;
    max-width: 560px;
    overflow-y: hidden;
    background-color: #fff;
    bottom: inherit;
}

div#modal-emergent .modal-header{
    background-color: #efefef;
}

div#modal-emergent .modal-footer{
    background-color: #f5f5f5;
}